<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{nombre}} </td>
        <td>  uppercase </td>
        <td> {{nombre | uppercase}} </td>
      </tr>

      <tr>
        <td> {{nombre}} </td>
        <td>  lowercase </td>
        <td> {{nombre | lowercase}} </td>
      </tr>

      <tr>
        <td> {{nombre}} </td>
        <td>  slice:3 </td>
        <td> {{nombre | slice:3}} </td>
      </tr>

      <tr>
        <td> {{nombre}} </td>
        <td>  slice:0:3 </td>
        <td> {{nombre | slice:0:3}} </td>
      </tr>

      <tr>
        <td> {{array}} </td>
        <td>  slice:1:5 </td>
        <td> {{array | slice:1:5}} </td>
      </tr>

      <tr>
        <td> {{PI}} </td>
        <td>  number '3.0-0'</td>
        <td> {{PI | number:'3.0-0'}} </td>
      </tr>

      <tr>
        <td> {{a}} </td>
        <td>  parcent</td>
        <td> {{a | percent}} </td>
      </tr>

      <tr>
        <td> {{a}} </td>
        <td>  parcent '2.2-2'</td>
        <td> {{a | percent:'2.2-2'}} </td>
      </tr>

      <tr>
        <td> {{salario}} </td>
        <td>  currency</td>
        <td> {{salario | currency}} </td>
      </tr>

      <tr>
        <td> {{salario}} </td>
        <td>  currency:'EUR'</td>
        <td> {{salario | currency:'EUR'}} </td>
      </tr>

      <tr>
        <td> {{salario}} </td>
        <td>  currency:'EUR':true:'4.0-0'</td>
        <td> {{salario | currency:'EUR':true:'4.0-0'}} </td>
      </tr>

      <tr>
        <td> {{valorDePromesa}} </td>
        <td>  async</td>
        <td> {{valorDePromesa | async}} </td>
      </tr>

      <tr>
        <td> {{fecha}} </td>
        <td>  date</td>
        <td> {{fecha | date}} </td>
      </tr>

      <tr>
        <td> {{fecha}} </td>
        <td>  date:'MMMM - dd'</td>
        <td> {{fecha | date:'MMMM - d'}} </td>
      </tr>

      <tr>
        <td> {{password}} </td>
        <td>  
          contrasenia:{{ activar }}
          <br>
          <button
            (click)="activar = !activar"
            type="button"
            class="btn btn-outline-primary">Activar/Desactivar</button>
        </td>
        <td> {{password | contrasenia:activar}} </td>
      </tr>
  
    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
	  <li *ngFor="let item of array | slice:5:20">{{item}}</li>
  </ul>

  <h4>JSON</h4>
  <pre>
    {{heroe | json}}
  </pre>


  <h4>Youtube <small>video</small></h4>
  <hr>
  <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/' " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<br><br><br><br><br>